h1 {
  font-family: "Pacifico", cursive;
  color: #314f8c;
  font-size: 44px;
  line-height: 30px;
  margin-bottom: 10;
  margin-top: 30px;
}
ul {
  padding: 0;
  margin: 0;
}
.description {
  text-transform: capitalize;
  color: #87685f;
}
.overview {
  color: #87685f;
  text-align: center;
  font-family: "Akaya Kanadaka", cursive;
}
li {
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.weather-widget {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}
.weather-app {
  background-image: linear-gradient(to top, #fddb92 0%, #d1fdff 100%);
  padding: 15px;
  border: 1px solid #321a70;
  border-radius: 8px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 70px;
  width: 70px;
  float: left;
}
.weather-temperature strong {
  color: #314f8c;
  float: left;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 64px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
}
.weather-temperature .units {
  color: #321a70;
  display: block;
  float: left;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 18px;
  line-height: normal;
  margin-top: 6px;
}
.weather-temperature .active {
  color: #321a70;
  cursor: default;
  text-decoration: none;
}
.row-forecast {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: seashell;
}
h3 {
  color: #87685f;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  line-height: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.weather-description {
  color: #87685f;
}
.weather-forecast-temperature {
  color: #87685f;
}

.col-2 img {
  line-height: 0px;
}
