body {
  background-image: url("https://images.pexels.com/photos/2689377/pexels-photo-2689377.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

h1 {
  font-family: "Pacifico", cursive;
  color: #321a70;
  font-size: 44px;
  line-height: 30px;
  margin-bottom: 10;
  margin-top: 30px;
}
ul {
  padding: 0;
  margin: 0;
}
.description {
  text-transform: capitalize;
  color: #321a70;
}
.overview {
  color: #321a70;
  text-align: center;
  font-family: "Akaya Kanadaka", cursive;
}
li {
  list-style: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
}
.weather-widget {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
}
.weather-app {
  background-image: linear-gradient(
    to top,
    lightgrey 0%,
    lightgrey 1%,
    #e0e0e0 26%,
    #efefef 48%,
    #d9d9d9 75%,
    #bcbcbc 100%
  );
  padding: 60px 60px;
  border: 1px solid #321a70;
  border-radius: 100px;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 10px;
  height: 70px;
  width: 70px;
  float: left;
}
.weather-temperature strong {
  color: #321a70;
  float: left;
  font-family: "Google Sans", arial, sans-serif;
  font-size: 64px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: auto;
  line-height: normal;
}
.weather-temperature .units {
  color: #321a70;
  display: block;
  float: left;
  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400;
  height: 18px;
  line-height: normal;
  margin-top: 6px;
}
.weather-temperature .active {
  color: #321a70;
  cursor: default;
  text-decoration: none;
}

h3 {
  color: #1a669b;
  margin-bottom: 0.5rem;
  font-weight: lighter;
  line-height: 100px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.weather-description {
  color: #87685f;
}
.weather-forecast-temperature {
  color: #1a669b;
}
.btn.btn-primary {
  margin-top: 0px;
}
.git-link {
  color: #321a70;
}
